[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "vendor/color-theme"]
	path = vendor/color-theme
	url = https://github.com/emacsmirror/color-theme.git
[submodule "vendor/zenburn"]
	path = vendor/zenburn
	url = https://github.com/emacsmirror/zenburn.git
[submodule "vendor/cc-mode"]
	path = vendor/cc-mode
	url = https://github.com/emacsmirror/cc-mode.git
[submodule "vendor/psvn"]
	path = vendor/psvn
	url = https://github.com/emacsmirror/psvn.git
[submodule "vendor/apache-mode"]
	path = vendor/apache-mode
	url = https://github.com/emacsmirror/apache-mode.git
[submodule "vendor/cperl-mode"]
	path = vendor/cperl-mode
	url = https://github.com/jrockway/cperl-mode.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = https://github.com/emacsmirror/js2-mode.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/emacsmirror/php-mode.git
[submodule "vendor/whitespace"]
	path = vendor/whitespace
	url = https://github.com/smtlaissezfaire/whitespace-el.git
[submodule "vendor/autopair"]
	path = vendor/autopair
	url = https://github.com/emacsmirror/autopair.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
