*.elc
autosave/*
auto-save-list/*
backup/*
elpa/*
eln-cache/
tramp
url/*
eshell/lastdir
eshell/history
abbrev_defs
games/*
tutorial/*
themes/*
custom.el
/ido.last
/recentf
/history
undo-tree/*

# straight
/straight/*
!/straight/versions/
!/straight/versions/*

# elpaca
/elpaca
